[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mar3kk
[access "refs/for/refs/*"]
	read = group user/mar3kk
	push = group user/mar3kk
	label-Code-Review = -2..+2 group user/mar3kk
	label-Verified = -1..+1 group user/mar3kk
	rebase = group user/mar3kk
	removeReviewer = group user/mar3kk
	submit = group user/mar3kk
[access "refs/heads/*"]
	read = group user/mar3kk
	create = group user/mar3kk
	push = +force group user/mar3kk
	pushMerge = group user/mar3kk
[access "refs/tags/*"]
	push = +force group user/mar3kk
	pushTag = group user/mar3kk
	pushSignedTag = group user/mar3kk
[access "refs/for/dev/*"]
	push = group Registered Users
